* {
	box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 10px 0;
}

.MonthYearContainer {
	margin: 3mm 0;
	font-size: 1.2rem;
}

.MonthYearContainer, .DaysContainer {
	font-weight: bold;
}

.DaysContainer {
	background-color: #ccc;
}

.DatesTable {
	 width: 283mm; 
	margin: auto;
}

.DatesTable, .Date {
	border-collapse: collapse;
}

.Date {
	width: 40mm;
	min-height: 36mm;
	height: 36mm;
	border: .25mm solid #000;
	text-align: right;
	vertical-align: top;
}

.Date.empty {
	border: none;
}

@media print {
	.App {
		margin: 0;
	}
	.MonthYearInput, .Info {
		display: none;
	}
}